input.font-normal,select.font-normal {
	font-weight: normal !important;
}

/*Default Bootstrap Paging Style*/
.bootstrapPager { /*display: inline-block;*/
	padding-left: 0;
	border-radius: 4px;
	/*	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;*/
	line-height: 1.42857;
}

.btn-group-nofloat>.btn {
	float: none;
}

.icon-watson {
	background-image: url("custom/img/icon_watson.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 17px 17px;
	display: inherit;
	height: 17px;
	margin-bottom: -3px;
	margin-right: 2px;
	width: 17px;
}

#wrapped_text_true { /*  width: 600px;*/
	height: 200px;
	position: relative;
	overflow: hidden;
}

.fade_text {
	bottom: 0;
	position: absolute;
	/*   width: 600px;*/
	z-index: 9999;
	background: url('img/fade_text.png') transparent no-repeat;
}

span.show_text,span.hide_text {
	text-decoration: underline;
	cursor: pointer;
}

span.hide_text {
	display: none;
}

.form-group label {
	display: block;
}

.cke_combo_text {
	height: 21px;
}

.bootstrapPagerPrevious {
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	display: inline;
	margin-left: 0;
	position: relative;
	float: left;
	color: #ddd;
	line-height: 1.42857143;
	text-decoration: none;
}

.bootstrapPagerPrevious>a,.bootstrapPagerNext>a,.bootstrapPagerMiddle>span>span>a
	{
	color: #337ab7;
	text-decoration: none;
	/*display: block;*/
}

.bootstrapPagerMiddle>span>span>a {
	padding: 6px 12px;
}

.bootstrapPagerPrevious:focus,.bootstrapPagerPrevious:hover,.bootstrapPagerNext:focus,.bootstrapPagerNext:hover
	{
	background-color: #eee;
	border-color: #ddd;
	color: #23527c;
}

.bootstrapPagerMiddle {
	display: inline;
}

.bootstrapPagerMiddle>span {
	float: left;
}

.bootstrapPagerMiddle>span>span {
	margin-left: 5px;
	float: left;
	color: #105CB6;
	margin-left: -1px;
	line-height: 1.42857143;
	border: 1px solid #ddd;
	background-color: #fff;
	text-decoration: none;
}

.xspCurrentItem {
	background-color: #337ab7 !important;
	border-color: #337ab7 !important;
	color: #fff !important;
	padding: 6px 12px;
}

.bootstrapPagerMiddle>span>span:focus,.bootstrapPagerMiddle>span>span:hover
	{
	background-color: #eee;
	border-color: #ddd;
	color: #23527c;
}

.bootstrapPagerNextPadding {
	
}

.bootstrapPagerNext {
	display: inline;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	color: #ddd;
}

.table th {
	font-weight: bold;
	/*background-color: #f9f9f9;*/
}

.btn-margin-left {
	margin-left: 5px;
}

.btn-margin-right {
	margin-right: 5px;
}

ul.alert {
	list-style-type: none;
}

.form-group.is-valid-false label {
	color: #dd4b39;
}

.form-group.is-valid-false .form-control {
	border-color: #dd4b39;
	box-shadow: none;
}

.form-group.is-valid-false .help-block {
	color: #dd4b39;
}

/*File upload*/
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

/*box joblisting */
.box-joblisting{
	min-height: 200px !important; 
   	height:auto !important; 
   	height: 200px !important; 
}