/*Default Bootstrap Paging Style*/
.bootstrapPager { /*display: inline-block;*/
	padding-left: 0;
	border-radius: 4px;
	/*	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;*/
	line-height: 1.42857;
}

.bootstrapPagerPrevious {
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	display: inline;
	margin-left: 0;
	position: relative;
	float: left;
	color: #ddd;
	line-height: 1.42857143;
	text-decoration: none;
}

.bootstrapPagerPrevious>a,.bootstrapPagerNext>a,.bootstrapPagerMiddle>span>span>a
	{
	color: #337ab7;
	text-decoration: none;
	display: block;
}

.bootstrapPagerMiddle>span>span>a {
	padding: 6px 12px;
}

.bootstrapPagerPrevious:focus,.bootstrapPagerPrevious:hover,.bootstrapPagerNext:focus,.bootstrapPagerNext:hover
	{
	background-color: #eee;
	border-color: #ddd;
	color: #23527c;
}

.bootstrapPagerMiddle {
	display: inline;
}

.bootstrapPagerMiddle>span {
	float: left;
}

.bootstrapPagerMiddle>span>span {
	margin-left: 5px;
	float: left;
	color: #105CB6;
	margin-left: -1px;
	line-height: 1.42857143;
	border: 1px solid #ddd;
	background-color: #fff;
	text-decoration: none;
}

.xspCurrentItem {
	background-color: #337ab7 !important;
	border-color: #337ab7 !important;
	color: #fff !important;
	padding: 6px 12px;
}

.bootstrapPagerMiddle>span>span:focus,.bootstrapPagerMiddle>span>span:hover
	{
	background-color: #eee;
	border-color: #ddd;
	color: #23527c;
}

.bootstrapPagerNextPadding {
	
}

.bootstrapPagerNext {
	display: inline;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	color: #ddd;
}

.table th {
	font-weight: bold;
	/*background-color: #f9f9f9;*/
}

.btn-margin-left {
	margin-left: 5px;
}

.btn-margin-right {
	margin-right: 5px;
}

ul.alert {
	list-style-type: none;
}

.form-group.is-valid-false label {
	color: #dd4b39;
}

.form-group.is-valid-false .form-control {
	border-color: #dd4b39;
	box-shadow: none;
}

.form-group.is-valid-false .help-block {
	color: #dd4b39;
}